@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1 class="display-3">Welcome to Farm to Go!</h1>
    <p class="lead">Your platform for sustainable products, empowering Farmers, and embracing economically viable, & environmentally friendly practices.</p>

    <p class="mb-4">Discover, buy, and sell perishable goods with ease. Our platform ensures the sustainable trade and security of every item listed.</p>

    <p class="mb-4">Learn more about how to use our platform and make the most of your experience:</p>

    <div class="row">
        <div class="col-md-4">
            <h3><a href="/Home/About">About Us</a></h3>
            <p>Learn about our mission and values.</p>
        </div>
        <div class="col-md-4">
            <h3><a href="/FTG/Index">Enter Farm-To-Go</a></h3>
            <p>Explore our product listings.</p>
        </div>
        <div class="col-md-4">
            <h3><a href="/Home/Privacy">Help & Support</a></h3>
            <p>Get assistance and find answers to your questions.</p>
        </div>
    </div>

    <p class="mt-4">Ready to get started? <a href="/Account/Register">Sign up</a> today or <a href="/Account/Login">Log In</a> if you already have an account.</p>

    <p class="mt-4">For more information about building web apps with ASP.NET Core, visit the <a href="https://learn.microsoft.com/aspnet/core" target="_blank">official documentation</a>.</p>
</div>
